<div class="center hero-unit">
  <h1>Welcome to the FilmRater</h1>

  <h2>
    Because Ed wants to rate films, his way!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>